/* You can add global styles to this file, and also import other style files */
@import 'assets/bootstrap/bootstrap-flex';


section {
  @extend .p-y-3;
}
article {
  @extend .container;
  @extend .p-a-3;
}
@import 'app/app.component';
h3 {
    font-size: 1.2em;
}
.clickable {
  color: $gray-lightest;
  &:hover {
  cursor: pointer !important;
  color: $light !important;
  }
}
